Repository DevCourse-I6/Team-I6-Honterview-BE, pull requests merged in 2024-03, with the labels that each got.

#71 fix: 질문 목록, 질문 상세 좋아요 수 추가
  src/main/java/com/i6/honterview/dto/response/AnswerResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionWithCategoriesResponse.java
Labels: question, fix

#73 feat: 꼬리질문 생성 기능 구현(by GPT)
  src/main/java/com/i6/honterview/config/GptConfig.java
  src/main/java/com/i6/honterview/controller/GptController.java
  src/main/java/com/i6/honterview/dto/request/GptApiRequest.java
  src/main/java/com/i6/honterview/dto/request/GptQuestionCreateRequest.java
  src/main/java/com/i6/honterview/dto/request/Message.java
  src/main/java/com/i6/honterview/dto/response/Choice.java
  src/main/java/com/i6/honterview/dto/response/GptApiResponse.java
  src/main/java/com/i6/honterview/dto/response/GptQuestionCreateResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/exception/GlobalExceptionHandler.java
  src/main/java/com/i6/honterview/exception/OpenAiException.java
  src/main/java/com/i6/honterview/repository/InterviewRepository.java
  src/main/java/com/i6/honterview/service/GptService.java
  src/main/resources/application-dev.yml
Labels: feat, question

#74 feat: S3 파일 업로드/다운로드 기능 구현
  build.gradle
  src/main/java/com/i6/honterview/controller/FileController.java
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/domain/Video.java
  src/main/java/com/i6/honterview/dto/request/FileUploadRequest.java
  src/main/java/com/i6/honterview/dto/response/FileUploadResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/VideoRepository.java
  src/main/java/com/i6/honterview/service/FileService.java
  src/main/java/com/i6/honterview/util/FileUtils.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
  src/main/resources/schema.sql
  src/test/java/com/i6/honterview/HonterviewApplicationTests.java
Labels: feat, interview

#78 refactor: 파일 업로드/다운로드 pre-signed URL 조회
  src/main/java/com/i6/honterview/controller/FileController.java
  src/main/java/com/i6/honterview/domain/Video.java
  src/main/java/com/i6/honterview/dto/request/FileUploadRequest.java
  src/main/java/com/i6/honterview/dto/response/DownloadUrlResponse.java
  src/main/java/com/i6/honterview/dto/response/FileUploadResponse.java
  src/main/java/com/i6/honterview/dto/response/UploadUrlResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/service/FileService.java
  src/main/java/com/i6/honterview/util/FileUtils.java
  src/main/resources/application.yml
Labels: refactor, interview

#79 refactor: 로그인 커스텀 어노테이션 생성
  src/main/java/com/i6/honterview/config/RedisConfig.java
  src/main/java/com/i6/honterview/config/WebConfig.java
  src/main/java/com/i6/honterview/controller/AnswerController.java
  src/main/java/com/i6/honterview/controller/AuthController.java
  src/main/java/com/i6/honterview/controller/FileController.java
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/controller/OAuthController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/enums/Provider.java
  src/main/java/com/i6/honterview/security/auth/OAuthAttributes.java
  src/main/java/com/i6/honterview/security/resolver/CurrentAccount.java
  src/main/java/com/i6/honterview/security/resolver/CurrentAccountArgumentResolver.java
  src/main/java/com/i6/honterview/security/service/Oauth2UserService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
Labels: refactor, common

#97 fix: dev 브랜치 배포
  .github/workflows/cd.yml
Labels: fix

#102 feat: 영상, 답변 연결
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/domain/Video.java
  src/main/java/com/i6/honterview/dto/request/AnswerCreateRequest.java
  src/main/java/com/i6/honterview/dto/request/QuestionAnswerCreateRequest.java
  src/main/java/com/i6/honterview/dto/response/QuestionAndAnswerResponse.java
  src/main/java/com/i6/honterview/dto/response/UploadUrlResponse.java
  src/main/java/com/i6/honterview/service/AnswerService.java
  src/main/java/com/i6/honterview/service/FileService.java
  src/main/java/com/i6/honterview/service/InterviewService.java
  src/main/java/com/i6/honterview/util/FileUtils.java
  src/main/resources/schema.sql
Labels: fix, interview

#105 feat: 질문 재생성 생성 기능 구현(GPT)
  src/main/java/com/i6/honterview/controller/GptController.java
  src/main/java/com/i6/honterview/dto/request/GptNewQuestionCreateRequest.java
  src/main/java/com/i6/honterview/service/GptService.java
Labels: feat, question, interview

#108 feat: 관리자 회원가입/로그인 기능 구현
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/controller/AuthController.java
  src/main/java/com/i6/honterview/domain/Admin.java
  src/main/java/com/i6/honterview/dto/request/AdminSignUpRequest.java
  src/main/java/com/i6/honterview/dto/request/LoginRequest.java
  src/main/java/com/i6/honterview/dto/response/LoginUserResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionAndAnswerResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/exception/SecurityErrorCode.java
  src/main/java/com/i6/honterview/repository/AdminRepository.java
  src/main/java/com/i6/honterview/security/auth/UserDetailsImpl.java
  src/main/java/com/i6/honterview/security/service/AdminCustomDetailsService.java
  src/main/java/com/i6/honterview/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/service/AuthService.java
  src/main/java/com/i6/honterview/service/InterviewService.java
Labels: feat, admin

#109 feat: 마이페이지 기능 구현
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/dto/response/InterviewMypageResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionAndAnswerResponse.java
  src/main/java/com/i6/honterview/repository/InterviewQueryDslRepository.java
  src/main/java/com/i6/honterview/repository/InterviewQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/repository/InterviewRepository.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslRepository.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/service/InterviewService.java
  src/main/java/com/i6/honterview/service/QuestionService.java
Labels: feat, mypage

#114 fix: 면접 현황 조회시 상태값 추가
  src/main/java/com/i6/honterview/dto/response/InterviewInfoResponse.java
Labels: fix, interview

#115 refactor: redisRepository 비즈니스 로직 redisService로 분리
  src/main/java/com/i6/honterview/dto/request/LoginRequest.java
  src/main/java/com/i6/honterview/repository/RedisRepository.java
  src/main/java/com/i6/honterview/security/jwt/JwtTokenProvider.java
  src/main/java/com/i6/honterview/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/service/AuthService.java
  src/main/java/com/i6/honterview/service/RedisService.java
Labels: refactor, common

#120 feat: 회원가입시 랜덤 닉네임 생성
  src/main/java/com/i6/honterview/common/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/common/util/FileNameUtil.java
  src/main/java/com/i6/honterview/common/util/NicknameGeneratorUtil.java
  src/main/java/com/i6/honterview/domain/interview/service/FileService.java
Labels: feat, member

#121 fix: 관리자 카테고리 crud 컨트롤러 구현
  src/main/java/com/i6/honterview/common/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/domain/question/controller/CategoryController.java
  src/main/java/com/i6/honterview/domain/user/controller/AdminController.java
  src/main/java/com/i6/honterview/domain/user/controller/AuthController.java
  src/main/resources/static/favicon.ico
Labels: fix, admin

#125 fix: 관리자 질문 crud 컨트롤러 구현
  src/main/java/com/i6/honterview/common/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/domain/question/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionService.java
  src/main/java/com/i6/honterview/domain/user/controller/AdminController.java
Labels: question, fix, admin

#126 fix: 질문 상세 조회시 로그인한 사용자일 경우 좋아요,북마크 여부 응답값 추가
  src/main/java/com/i6/honterview/domain/answer/dto/response/AnswerResponse.java
  src/main/java/com/i6/honterview/domain/answer/repository/AnswerQueryDslRepository.java
  src/main/java/com/i6/honterview/domain/answer/repository/AnswerQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/domain/question/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/question/dto/response/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/domain/question/repository/QuestionBookmarkRepository.java
  src/main/java/com/i6/honterview/domain/question/repository/QuestionQueryDslRepository.java
  src/main/java/com/i6/honterview/domain/question/repository/QuestionQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionBookmarkService.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionHeartService.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionService.java
Labels: question, fix

#127 refactor: repository → service 구조 리팩토링
  src/main/java/com/i6/honterview/domain/answer/service/AnswerHeartService.java
  src/main/java/com/i6/honterview/domain/answer/service/AnswerService.java
  src/main/java/com/i6/honterview/domain/gpt/service/GptService.java
  src/main/java/com/i6/honterview/domain/interview/controller/VideoController.java
  src/main/java/com/i6/honterview/domain/interview/service/InterviewService.java
  src/main/java/com/i6/honterview/domain/interview/service/VideoService.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionBookmarkService.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionHeartService.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionService.java
  src/main/java/com/i6/honterview/domain/user/service/AuthService.java
  src/main/java/com/i6/honterview/domain/user/service/MemberService.java
Labels: refactor, common

#129 fix: 영상을 인터뷰에 연결
  src/main/java/com/i6/honterview/domain/answer/dto/request/AnswerCreateRequest.java
  src/main/java/com/i6/honterview/domain/answer/entity/Answer.java
  src/main/java/com/i6/honterview/domain/answer/service/AnswerService.java
  src/main/java/com/i6/honterview/domain/interview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/interview/controller/VideoController.java
  src/main/java/com/i6/honterview/domain/interview/dto/request/QuestionAnswerCreateRequest.java
  src/main/java/com/i6/honterview/domain/interview/dto/response/InterviewInfoResponse.java
  src/main/java/com/i6/honterview/domain/interview/dto/response/QuestionAndAnswerResponse.java
  src/main/java/com/i6/honterview/domain/interview/entity/Interview.java
  src/main/java/com/i6/honterview/domain/interview/entity/Video.java
  src/main/java/com/i6/honterview/domain/interview/service/InterviewService.java
  src/main/java/com/i6/honterview/domain/interview/service/VideoService.java
  src/main/java/com/i6/honterview/domain/user/dto/response/InterviewMypageResponse.java
  src/main/resources/schema.sql
Labels: fix, interview

#131 refactor: 인증/인가 권한 설정
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/domain/interview/controller/VideoController.java
Labels: refactor, common

#133 refactor: refreshToken 생성 방법 jwt -> UUID로 변경
  src/main/java/com/i6/honterview/common/exception/SecurityErrorCode.java
  src/main/java/com/i6/honterview/common/security/jwt/JwtTokenProvider.java
  src/main/java/com/i6/honterview/common/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/common/util/CookieUtil.java
  src/main/java/com/i6/honterview/config/JwtConfig.java
  src/main/java/com/i6/honterview/domain/interview/dto/request/InterviewCreateRequest.java
  src/main/java/com/i6/honterview/domain/user/controller/AuthController.java
  src/main/java/com/i6/honterview/domain/user/service/AuthService.java
Labels: refactor, common

#136 feat: 마이페이지 내 정보 조회, 닉네임 수정 기능 추가
  src/main/java/com/i6/honterview/domain/answer/service/AnswerService.java
  src/main/java/com/i6/honterview/domain/user/controller/MypageController.java
  src/main/java/com/i6/honterview/domain/user/dto/request/MemberUpdateRequest.java
  src/main/java/com/i6/honterview/domain/user/dto/response/MemberMypageResponse.java
  src/main/java/com/i6/honterview/domain/user/entity/Member.java
  src/main/java/com/i6/honterview/domain/user/service/MemberService.java
Labels: feat, mypage

#137 refactor: gpt api 호출 방식 RestTemplate -> Feign으로 변경
  build.gradle
  src/main/java/com/i6/honterview/HonterviewApplication.java
  src/main/java/com/i6/honterview/config/FeignClientConfig.java
  src/main/java/com/i6/honterview/config/GptConfig.java
  src/main/java/com/i6/honterview/domain/gpt/service/GptFeignClient.java
  src/main/java/com/i6/honterview/domain/gpt/service/GptService.java
Labels: refactor

#138 refactor: PageRequestDto 리팩토링
  src/main/java/com/i6/honterview/common/dto/PageRequest.java
  src/main/java/com/i6/honterview/domain/interview/service/InterviewService.java
  src/main/java/com/i6/honterview/domain/question/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/question/dto/request/QuestionPageRequest.java
  src/main/java/com/i6/honterview/domain/question/service/QuestionService.java
  src/main/java/com/i6/honterview/domain/user/controller/AdminController.java
  src/main/java/com/i6/honterview/domain/user/controller/MypageController.java
Labels: refactor, common

#140 fix: 현재 로그인한 사용자가 인터뷰의 주인인지 확인하는 validation 추가
  src/main/java/com/i6/honterview/domain/interview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/interview/controller/VideoController.java
  src/main/java/com/i6/honterview/domain/interview/entity/Interview.java
  src/main/java/com/i6/honterview/domain/interview/repository/InterviewRepository.java
  src/main/java/com/i6/honterview/domain/interview/service/InterviewService.java
  src/main/java/com/i6/honterview/domain/interview/service/VideoService.java
Labels: fix, interview

#145 refactor: 인터뷰별 gpt api 호출 횟수 제한
  src/main/java/com/i6/honterview/common/exception/ErrorCode.java
  src/main/java/com/i6/honterview/common/security/jwt/JwtTokenProvider.java
  src/main/java/com/i6/honterview/common/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/common/util/CookieUtil.java
  src/main/java/com/i6/honterview/common/util/RedisOperator.java
  src/main/java/com/i6/honterview/config/RedisConfig.java
  src/main/java/com/i6/honterview/domain/gpt/controller/GptController.java
  src/main/java/com/i6/honterview/domain/gpt/service/GptService.java
  src/main/java/com/i6/honterview/domain/gpt/service/GptServiceImpl.java
  src/main/java/com/i6/honterview/domain/interview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/interview/repository/InterviewRepository.java
  src/main/java/com/i6/honterview/domain/interview/service/InterviewService.java
  src/main/java/com/i6/honterview/domain/interview/service/VideoService.java
  src/main/java/com/i6/honterview/domain/user/repository/RedisRepository.java
  src/main/java/com/i6/honterview/domain/user/service/AuthService.java
  src/main/java/com/i6/honterview/domain/user/service/RedisService.java
  src/main/java/com/i6/honterview/domain/user/service/UserRedisManager.java
Labels: refactor, interview, common

#147 fix: 쿠키 전송 오류 해결
  src/main/java/com/i6/honterview/common/util/CookieUtil.java
Labels: fix, common

#150 fix: 토큰 재발급 쿠키 값 세팅하는 방법으로 변경
  src/main/java/com/i6/honterview/common/util/CookieUtil.java
  src/main/java/com/i6/honterview/domain/user/controller/AuthController.java
Labels: member, fix

#153 refactor: 토큰 재발급api 응답 방식 다시 변경 (쿠키 -> 바디)
  src/main/java/com/i6/honterview/domain/user/controller/AuthController.java
  src/main/java/com/i6/honterview/domain/user/service/AuthService.java
Labels: refactor, common

#154 fix: 답변의 default visibility를 PRIVATE으로 수정
  src/main/java/com/i6/honterview/domain/answer/entity/Answer.java
  src/main/java/com/i6/honterview/domain/answer/repository/AnswerQueryDslRepositoryImpl.java
Labels: fix, answer

#157 fix: 면접 현황 조회 api 답변 공개 여부 추가
  src/main/java/com/i6/honterview/domain/gpt/dto/response/GptQuestionCreateResponse.java
  src/main/java/com/i6/honterview/domain/gpt/service/GptServiceImpl.java
  src/main/java/com/i6/honterview/domain/interview/dto/response/QuestionAndAnswerResponse.java
  src/main/java/com/i6/honterview/domain/user/controller/AuthController.java
Labels: fix, interview, common

#155 docs: Readme.md 수정
  README.md
Labels: docs

#159 feat: 로컬 테스트용 토큰 재발급 api 구현
  src/main/java/com/i6/honterview/common/util/CookieUtil.java
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/domain/user/controller/AuthController.java
Labels: feat, common
