Repository DevCourse-I6/Team-I6-Honterview-BE, pull requests merged in 2024-02, with the labels that each got.

#2 feat: 엔티티 정의
  src/main/java/com/i6/honterview/domain/Admin.java
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/domain/AnswerHeart.java
  src/main/java/com/i6/honterview/domain/Category.java
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/domain/InterviewQuestion.java
  src/main/java/com/i6/honterview/domain/Member.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/domain/QuestionCategory.java
  src/main/java/com/i6/honterview/domain/QuestionHeart.java
  src/main/java/com/i6/honterview/domain/enums/Gender.java
  src/main/java/com/i6/honterview/domain/enums/Provider.java
  src/main/java/com/i6/honterview/domain/enums/Role.java
Labels: feat

#5 feat: 질문 목록, 상세 조회
  build.gradle
  src/main/java/com/i6/honterview/HonterviewApplication.java
  src/main/java/com/i6/honterview/config/QueryDslConfig.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/Admin.java
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/domain/AnswerHeart.java
  src/main/java/com/i6/honterview/domain/BaseEntity.java
  src/main/java/com/i6/honterview/domain/Category.java
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/domain/Member.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/domain/QuestionHeart.java
  src/main/java/com/i6/honterview/dto/PageResponse.java
  src/main/java/com/i6/honterview/dto/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/dto/QuestionResponse.java
  src/main/java/com/i6/honterview/exception/CustomException.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslReposiotoryImpl.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslRepository.java
  src/main/java/com/i6/honterview/repository/QuestionRepository.java
  src/main/java/com/i6/honterview/response/ApiResponse.java
  src/main/java/com/i6/honterview/response/ErrorResponse.java
  src/main/java/com/i6/honterview/service/QuestionService.java
Labels: feat, question

#9 feat: JWT 설정(필터 설정, redis 설정, 토큰 재발급)
  src/main/java/com/i6/honterview/config/RedisConfig.java
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/controller/AuthController.java
  src/main/java/com/i6/honterview/controller/OAuthController.java
  src/main/java/com/i6/honterview/domain/redis/RefreshToken.java
  src/main/java/com/i6/honterview/dto/request/ReissueTokenRequest.java
  src/main/java/com/i6/honterview/dto/response/TokenResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/RefreshTokenRepository.java
  src/main/java/com/i6/honterview/security/auth/OAuth2UserImpl.java
  src/main/java/com/i6/honterview/security/auth/UserDetailsImpl.java
  src/main/java/com/i6/honterview/security/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/i6/honterview/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/i6/honterview/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/i6/honterview/security/jwt/JwtTokenProvider.java
  src/main/java/com/i6/honterview/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/security/service/Oauth2UserService.java
  src/main/java/com/i6/honterview/service/AuthService.java
  src/main/java/com/i6/honterview/util/HttpResponseUtil.java
  src/main/resources/templates/test.html
Labels: feat, member

#11 feat: 질문 목록 조회시 동적 정렬, 카테고리 필터링 추가
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/controller/CategoryController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/dto/response/CategoryResponse.java
  src/main/java/com/i6/honterview/dto/response/PageResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/CategoryRepository.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslReposiotoryImpl.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslRepository.java
  src/main/java/com/i6/honterview/repository/QuestionQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/repository/QuestionRepository.java
  src/main/java/com/i6/honterview/service/CategoryService.java
  src/main/java/com/i6/honterview/service/QuestionService.java
  src/main/resources/application-dev.yml
  src/main/resources/data.sql
Labels: feat, question

#12 feat: oauth2 소셜 로그인 연동 추가 구현(구글, 네이버, 깃허브)
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/domain/enums/Provider.java
  src/main/java/com/i6/honterview/security/auth/OAuthAttributes.java
  src/main/java/com/i6/honterview/security/service/Oauth2UserService.java
  src/main/resources/application-dev.yml
Labels: feat, member

#15 refactor: 회원 로그인 토큰 처리 방식&jwt 생성 방식 수정
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/domain/redis/RefreshToken.java
  src/main/java/com/i6/honterview/repository/MemberRepository.java
  src/main/java/com/i6/honterview/security/auth/UserDetailsImpl.java
  src/main/java/com/i6/honterview/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/i6/honterview/security/jwt/JwtTokenProvider.java
  src/main/java/com/i6/honterview/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/service/AuthService.java
Labels: refactor, member

#16 feat: 질문 CUD
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/domain/QuestionCategory.java
  src/main/java/com/i6/honterview/dto/request/QuestionCreateRequest.java
  src/main/java/com/i6/honterview/dto/request/QuestionUpdateRequest.java
  src/main/java/com/i6/honterview/dto/response/CategoryResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/service/QuestionService.java
Labels: feat, question

#20 feat: 카테고리 CUD
  src/main/java/com/i6/honterview/controller/CategoryController.java
  src/main/java/com/i6/honterview/domain/Category.java
  src/main/java/com/i6/honterview/dto/request/CategoryCreateRequest.java
  src/main/java/com/i6/honterview/dto/request/CategoryUpdateRequest.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/CategoryRepository.java
  src/main/java/com/i6/honterview/service/CategoryService.java
Labels: feat, category

#21 fix: 카테고리 CUD
  src/main/java/com/i6/honterview/repository/CategoryRepository.java
  src/main/java/com/i6/honterview/service/CategoryService.java
Labels: category, fix

#24 feat: 질문 좋아요 기능 구현
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/domain/QuestionHeart.java
  src/main/java/com/i6/honterview/dto/response/QuestionHeartClickResponse.java
  src/main/java/com/i6/honterview/repository/QuestionHeartRepository.java
  src/main/java/com/i6/honterview/repository/QuestionRepository.java
  src/main/java/com/i6/honterview/service/QuestionHeartService.java
  src/main/resources/data.sql
Labels: feat, question, heart

#26 feat: 질문 상세 조회 - 답변 목록 페이징 조회 추가
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/dto/response/AnswerResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/repository/AnswerQueryDslRepository.java
  src/main/java/com/i6/honterview/repository/AnswerQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/repository/AnswerRepository.java
  src/main/java/com/i6/honterview/service/QuestionService.java
  src/main/resources/data.sql
Labels: feat, question, answer

#27 feat: 답변 좋아요 기능 구현
  src/main/java/com/i6/honterview/controller/AnswerController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/domain/AnswerHeart.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/domain/QuestionHeart.java
  src/main/java/com/i6/honterview/dto/response/AnswerHeartClickResponse.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/AnswerHeartRepository.java
  src/main/java/com/i6/honterview/repository/AnswerRepository.java
  src/main/java/com/i6/honterview/service/AnswerHeartService.java
  src/main/java/com/i6/honterview/service/QuestionHeartService.java
Labels: feat, answer

#28 docs: swagger 추가
  build.gradle
  src/main/java/com/i6/honterview/config/SwaggerConfig.java
  src/main/java/com/i6/honterview/controller/AnswerController.java
  src/main/java/com/i6/honterview/controller/AuthController.java
  src/main/java/com/i6/honterview/controller/CategoryController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/dto/request/CategoryCreateRequest.java
  src/main/java/com/i6/honterview/dto/request/CategoryUpdateRequest.java
  src/main/java/com/i6/honterview/dto/request/QuestionUpdateRequest.java
  src/main/java/com/i6/honterview/dto/request/ReissueTokenRequest.java
  src/main/java/com/i6/honterview/dto/response/AnswerResponse.java
  src/main/java/com/i6/honterview/dto/response/CategoryResponse.java
  src/main/java/com/i6/honterview/dto/response/PageResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionHeartClickResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionResponse.java
  src/main/java/com/i6/honterview/response/ApiResponse.java
Labels: docs

#32 feat: 면접 생성 및 질문 등록(면접 시작 전)
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/domain/Category.java
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/domain/InterviewQuestion.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/domain/enums/AnswerType.java
  src/main/java/com/i6/honterview/domain/enums/InterviewStatus.java
  src/main/java/com/i6/honterview/dto/request/InterviewCreateRequest.java
  src/main/java/com/i6/honterview/dto/request/QuestionCreateRequest.java
  src/main/java/com/i6/honterview/dto/response/AnswerHeartClickResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionHeartClickResponse.java
  src/main/java/com/i6/honterview/dto/response/TokenResponse.java
  src/main/java/com/i6/honterview/repository/InterviewRepository.java
  src/main/java/com/i6/honterview/service/InterviewService.java
  src/main/java/com/i6/honterview/service/QuestionService.java
  src/main/resources/data.sql
Labels: feat, interview

#37 feat: 면접 삭제 기능 구현
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/InterviewRepository.java
  src/main/java/com/i6/honterview/service/InterviewService.java
Labels: feat, interview

#39 feat: 면접 연습 상태 변경
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/domain/enums/InterviewStatus.java
  src/main/java/com/i6/honterview/dto/request/InterviewCreateRequest.java
  src/main/java/com/i6/honterview/service/InterviewService.java
Labels: feat, interview

#41 refactor: ExceptionHandler구현
  src/main/java/com/i6/honterview/exception/CustomException.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/exception/GlobalExceptionHandler.java
  src/main/java/com/i6/honterview/exception/SecurityCustomException.java
  src/main/java/com/i6/honterview/exception/SecurityErrorCode.java
  src/main/java/com/i6/honterview/security/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/i6/honterview/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/i6/honterview/service/AuthService.java
Labels: refactor, common

#43 chore: schema.sql ddl작성
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/domain/Member.java
  src/main/java/com/i6/honterview/domain/enums/Gender.java
  src/main/resources/schema.sql
Labels: common

#46 feat: 로그아웃 기능 구현
  build.gradle
  src/main/java/com/i6/honterview/config/WebSecurityConfig.java
  src/main/java/com/i6/honterview/controller/AuthController.java
  src/main/java/com/i6/honterview/domain/Member.java
  src/main/java/com/i6/honterview/domain/redis/RefreshToken.java
  src/main/java/com/i6/honterview/dto/request/ReissueTokenRequest.java
  src/main/java/com/i6/honterview/exception/SecurityErrorCode.java
  src/main/java/com/i6/honterview/repository/RedisRepository.java
  src/main/java/com/i6/honterview/repository/RefreshTokenRepository.java
  src/main/java/com/i6/honterview/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/i6/honterview/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/i6/honterview/security/jwt/JwtTokenProvider.java
  src/main/java/com/i6/honterview/security/service/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/i6/honterview/service/AuthService.java
  src/main/resources/application-dev.yml
  src/main/resources/static/favicon.ico
Labels: feat, member

#49 refactor: 예외 처리&좋아요 회원 연동 리팩토링
  src/main/java/com/i6/honterview/controller/AnswerController.java
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/exception/GlobalExceptionHandler.java
  src/main/java/com/i6/honterview/security/auth/OAuthAttributes.java
Labels: common

#55 refactor: 카테고리 유효성 검사 리팩터링
  src/main/java/com/i6/honterview/service/CategoryService.java
  src/main/java/com/i6/honterview/service/QuestionService.java
Labels: refactor, category

#58 fix: Interview 타이머 필드 추가
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/dto/request/InterviewCreateRequest.java
  src/main/resources/data.sql
  src/main/resources/schema.sql
Labels: fix, interview

#61 feat: 면접 종료 후 답변 공개여부 수정
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/Answer.java
  src/main/java/com/i6/honterview/dto/request/AnswerVisibilityUpdateRequest.java
  src/main/java/com/i6/honterview/dto/response/AnswersVisibilityUpdateResponse.java
  src/main/java/com/i6/honterview/repository/AnswerRepository.java
  src/main/java/com/i6/honterview/service/InterviewService.java
Labels: feat, interview

#63 fix: 질문 상세 꼬리질문 3개 랜덤 조회
  src/main/java/com/i6/honterview/controller/QuestionController.java
  src/main/java/com/i6/honterview/repository/QuestionRepository.java
  src/main/java/com/i6/honterview/service/QuestionService.java
Labels: question, fix

#67 feat: 면접 현황 조회
  src/main/java/com/i6/honterview/controller/InterviewController.java
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/domain/Question.java
  src/main/java/com/i6/honterview/dto/request/InterviewCreateRequest.java
  src/main/java/com/i6/honterview/dto/response/InterviewInfoResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionAndAnswerResponse.java
  src/main/java/com/i6/honterview/dto/response/QuestionDetailResponse.java
  src/main/java/com/i6/honterview/repository/AnswerRepository.java
  src/main/java/com/i6/honterview/service/InterviewService.java
  src/main/resources/data.sql
  src/main/resources/schema.sql
Labels: feat, interview

#68 fix: 면접 연습 중 질문/답변 중복 생성 예외처리
  src/main/java/com/i6/honterview/domain/Interview.java
  src/main/java/com/i6/honterview/domain/enums/InterviewStatus.java
  src/main/java/com/i6/honterview/dto/request/QuestionAnswerCreateRequest.java
  src/main/java/com/i6/honterview/exception/ErrorCode.java
  src/main/java/com/i6/honterview/repository/AnswerQueryDslRepository.java
  src/main/java/com/i6/honterview/repository/AnswerQueryDslRepositoryImpl.java
  src/main/java/com/i6/honterview/service/AnswerService.java
  src/main/java/com/i6/honterview/service/InterviewService.java
  src/main/resources/data.sql
Labels: fix, interview
